/*GERAL*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: Montserrat;
    overflow-x: hidden;
}

/*NAVBAR*/

a.menu{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

a.logo{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgba(24, 16, 34, 0.7);
    backdrop-filter: blur(10px);
    height: 10vh;
    width: 100%;
    z-index: 99;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile_menu{
    display: none;
    cursor: pointer;
}

.mobile_menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

/*INICIO*/

section.inicio{
    background: linear-gradient(63.13deg, #0c0022 51%, #2f1264 49%);
    height: 100vh;
    display: flex;
    align-items: center;
}

div.ajustador-inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
}

img.imagem-inicio{
    position: relative;
    max-width: 100%;
    display: block;
    margin-left: 200px;
}

p.texto-direita-um{
    position: relative;
    color: white;
    font-size: 2rem;
}

p.texto-direita-dois{
    position: relative;
    display:inline-block;
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

p.texto-direita-tres{
    position: relative;
    color: white;
    font-size: 2rem;
}

/*SOBRE-MIM*/

section.sobre-mim{
    background: rgb(22, 20, 31);
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
}

div.ajustador-sobre-mim{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
}

img.imagem-sobre-mim{
    position: relative;
    max-width: 100%;
    display: block;

}

div.ajustador-sobre-mim-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.sobre-mim-title{
    position: relative;
    display:inline-block;
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

p.sobre-mim-text{
    position: relative;
    color: white;
    font-size: 2rem;
}

/*CONHECIMENTOS*/

section.conhecimentos{
    background: rgb(47, 44, 58);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.ajustador_conhecimentos{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    flex-wrap: wrap;
}

div.conteiner_habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55%;
}

div.conhecimentos_title{
    position: relative;
    color: white;
    font-size: 7rem;
    margin: 100px 0;
    font-weight: bold;
}

img.html_logo, img.css_logo, img.js_logo, img.c_logo, img.py_logo{
    cursor: pointer;
}

p.descricao_skill{
    position: relative;
    color: white;
    font-size: 2rem;
    text-align: justify;
    margin-left: 10px;
}

/*PROJETOS*/

section.projetos{
    background: rgb(54, 52, 63);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.projetos_title{
    position: relative;
    color: #fff;
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 70px;
}

div.container_projects{
    position: relative;
    display: flex;
    flex-direction: row;
}

img.projeto_calculadora{
    filter: brightness(0.5);
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}

img.projeto_calculadora:hover{
    filter: brightness(1);
}

img.projeto_profile{
    filter: brightness(0.5);
    margin: 0 20px;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}

img.projeto_profile:hover{
    filter: brightness(1);
}

img.projeto_rfid{
    filter: brightness(0.5);
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}

img.projeto_rfid:hover{
    filter: brightness(1);
}

button.github{
    position: relative;
    cursor: pointer;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    margin-top: 50px;
    transition: 0.3s;
}

button.github:hover{
    background-color: rgb(70, 57, 92);
}

/*BARRA FINAL*/

footer.footer{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    background-color:rgb(19, 13, 31);
    align-items: center;
    justify-content: center;
}

div.contatos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

p.contatos{
    font-size: 2rem;
    color: white;
}

img.linkedin{
    rotate: 0deg;
    content: url("images/icons/linkedin_icons/linkedin_logo.png");
    cursor: pointer;
    transition: .6s ease-in-out;
}

img.linkedin:hover{
    rotate: 360deg;
    content: url("images/icons/linkedin_icons/linkedin_logo_tr.png");
}

/*ANIMACAO ENTRADA*/

.ajustador-inicio{
    visibility: hidden;
}

.ajustador-sobre-mim{
    visibility: hidden;
}

.conhecimentos_title, .ajustador_conhecimentos{
    visibility: hidden;
}

.projetos_title, .container_projects, .github{
    visibility: hidden;
}

/*RESPONSIVIDADE*/

@media (max-width:1252px){

    section.projetos{
        height: 140vh;
    }

    div.conhecimentos_title{
        margin: 50px 0;
    }

    div.container_projects{
        flex-direction: column;
    }

    img.projeto_profile{
        margin: 20px 0;
    }
}

@media (max-width: 1200px){
    section.inicio{
        background: #0c0022;
    }

    div.ajustador-inicio{
        flex-direction: column-reverse;
    }

    img.imagem-inicio{
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    p.texto-direita-um{
        text-align: center;
        font-size: 4rem;
    }

    p.texto-direita-dois{
        text-align: center;
        font-size: 8rem;
    }

    p.texto-direita-tres{
        text-align: center;
        font-size: 4rem;
    }
}

@media (max-width:990px){

    section.conhecimentos{
        height: 70vh;
    }

    div.ajustador-sobre-mim{
        display: flex;
        flex-direction: column;
    }

    img.imagem-sobre-mim{
        width: 250px;
        height: 300px;
    }

    p.sobre-mim-title{
        font-size: 4rem; 
    }

    p.sobre-mim-text{
        font-size: 1.5rem;
    }

    div.ajustador_conhecimentos{
        flex-direction: row;
    }

    img.html_logo{
        width: 70px;
        height: 70px;
    }

    img.css_logo{
        width: 70px;
        height: 70px;
    }

    img.js_logo{
        width: 70px;
        height: 70px;
    }

    img.c_logo{
        width: 70px;
        height: 70px;
    }

    img.py_logo{
        width: 70px;
        height: 70px;
    }

    div.conteiner_habilidades{
        flex-direction: column;
        gap: 10px;
    }

    p.descricao_skill{
        margin-left: 70px;
    }
}

@media (max-width: 952px){
    label.logo{
        font-size: 3rem;
        padding-left: 50px;
    }

    nav ul li a.menu{
        font-size: 1.6rem;
    }
}

@media (max-width: 858px){

    body{
        overflow-x:hidden;
    }

    div.projetos_title{
        font-size: 5rem;
    }

    .checkbtn{
        display: block;
    }

    div.conhecimentos_title{
        font-size: 5rem;
    }

    p.descricao_skill{
        font-size: 1rem;
    }

    nav{
        background: rgb(12, 3, 24);
    }

    .nav-list{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: rgb(12, 3, 24, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    .nav-list li{
        margin-left: 0;
    }

    .mobile_menu{
        display: block;
    }
}

@media (max-width: 500px){

    section.sobre-mim{
        height: 60vh;
    }

    div.conhecimentos_title{
        font-size: 4rem;
    }

    p.texto-direita-um{
        text-align: center;
        font-size: 3rem;
    }

    p.texto-direita-dois{
        text-align: center;
        font-size: 5rem;
    }

    p.texto-direita-tres{
        text-align: center;
        font-size: 3rem;
    }

    p.sobre-mim-title{
        font-size: 3rem;
    }

    p.sobre-mim-text{
        font-size: 1rem;
    }

    p.contatos{
        font-size: 1.4rem;
    }

    img.linkedin{
        width: 35px;
        height: 35px;
    }
}
